<IfModule mod_rewrite.c>
   RewriteEngine on     
   RewriteCond %{REQUEST_URI} !^public
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://blogs.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blogs.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://earnease.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://earnease.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://employee.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://employee.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guestbooking.in.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guestbooking.in.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://movieapp.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://movieapp.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pcimca.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pcimca.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smartcampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://smartcampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://team.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://team.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blogs.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blogs.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.earnease.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.earnease.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.employee.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.employee.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guestbooking.in.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guestbooking.in.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.movieapp.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.movieapp.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pcimca.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pcimca.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smartcampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.smartcampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.team.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.team.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blogs.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blogs.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://earnease.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://earnease.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://employee.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://employee.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guestbooking.in.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guestbooking.in.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://movieapp.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://movieapp.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pcimca.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pcimca.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://smartcampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://smartcampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://team.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://team.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blogs.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blogs.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.earnease.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.earnease.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.employee.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.employee.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guestbooking.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guestbooking.in.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guestbooking.in.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.movieapp.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.movieapp.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pcimca.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pcimca.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.smartcampus.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.smartcampus.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.team.orianatechsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.team.orianatechsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.guestbooking.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.guestbooking.in$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]


# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php82” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
